/*
  Color
 */
// Action
$ss__primary: #0065FF;
$ss__secondary: #506690;
$ss__success: #36B37E;
$ss__info: #00B8D9;
$ss__warning: #FFAB00;
$ss__danger: #E63757;

// White
$ss__white: white;

// Black
$ss__black: #152547;
$ss__gray: #7A869A;
$ss__gray--light: #B3BAC5;
$ss__gray--dark: #3B506C;

// Misc
$ss__blue: #0065FF;
$ss__indigo: #6610F2;
$ss__purple: #6554C0;
$ss__pink: #F3559D;
$ss__red: #E63757;
$ss__salmon: #FF7452;
$ss__orange: #FF8B00;
$ss__yellow: #FFAB00;
$ss__green: #36B37E;
$ss__cyan: #00B8D9;
$ss__teal: #00A3BF;